@model IEnumerable<SmartPower.Controllers.Domin.SourceReadingsWithCode>

@{
    ViewData["Title"] = "Index1";
}

<h1>Power Logs </h1>


<p>
  
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Voltage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Current3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mCurrent1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mCurrent2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mCurrent3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerFactor1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerFactor2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerFactor3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frequency1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frequency2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frequency3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarmonicOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarmonicOrder1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarmonicOrder2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HarmonicOrder3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnCurrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Voltage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Current1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Current2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Current3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCurrent1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCurrent2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mCurrent3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerFactor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerFactor2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerFactor3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequency1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequency2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequency3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarmonicOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarmonicOrder1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarmonicOrder2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarmonicOrder3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>

        </tr>
}
    </tbody>
</table>
