@model IEnumerable<SmartPower.Domin.ProductionViewModel>

@{
    ViewData["Title"] = "Index";
}



<script>  
            
   function Getdatalist(factoryId)
    {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetallDatesOroductionWithFacid", "Production")",
                    dataType: "Json",
                    cache: false,
                    data: { facid:factoryId},
                    success: function (data)
                    {
     
                        filldateslist(data);
                    },
                    error: function (data) {
                        alert("error");
                    },
                });
    }
    function filldateslist(data)
    {

        var dateslist = document.getElementById("fromto"); 
        dateslist.innerHTML = "<option disabled selected> Select date</option>"; 
        for (i = 0; i < data.length; i++)
        {

            var date = data[i];      
            dateslist.innerHTML += "<option value='" + date + "'>" + date + "</option>";
        }

    }
</script>
<div class="table-header">
    <h2 class="hh2">Production </h2>

</div>

<div class="card">
    <div class="card-header" style="text-align:center;">
        <strong class="card-title">Production</strong>

    </div>
    <div class="card-header">
        <form action="Index">      
               <select name="Id" class="myform-control"  required>
                  <option value="-1" disabled selected> Factory</option>
                         @foreach (var factory in ViewBag.factories)
                          {
                                <option value="@factory.FacId">@factory.Name</option>
                          }
                  </select>                 
                  <button type="submit" value="Search" style="background:none;border:none"><i class="fa fa-search"></i>  Search</button>
                   <a asp-action="Create" style="float:right;"><i class="fa fa-plus-square"></i> Create New </a>      
        </form>
    </div>

    <div class="table-stats order-table ov-h">

        <table id="simple-table" class="table  ">
            <thead>
                <tr>

                    <th >
                        Date
                    </th>
                    <th >
                        Quatity
                    </th>
                    <th>
                        Type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Date
                </td>

                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.Type
                </td>
                <td></td>
            </tr>


            }

            </tbody>
        </table>
     </div>
</div>