@model SmartPower.Controllers.Domin.PrimarySourceDataModel

@{
    ViewData["Title"] = "Create";
}

<script> 

    function topo(Value)
    {
        
        var x = document.getElementById("topolgy");
     
        if (Value == 3) {
            x.style.display = "block";
            document.getElementById("topologyslct").required = true;
            
        }
        else {
            x.style.display = "none";
            document.getElementById("topologyslct").required  = false;

        }

    }
</script>
<div class="card" style="width:50%;">
    <div class="card-header"><strong>Create</strong><small> Primary</small></div>
    <div class="card-body card-block">
        <form asp-action="Create">

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label"> Factories Name </lable> <br />
                <select asp-for="FacId" class="form-control col-sm-8" required>
                    <option selected disabled value=""> Factory</option>
                    @foreach (var factory in ViewBag.factories)
                    {
                        <option value="@factory.FacId">@factory.Name</option>

                    }
                </select>
                <span asp-validation-for="FacId" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <lable class="col-sm-4 col-form-label"> Primary Name </lable> <br />
                <input asp-for="Name" class="form-control col-sm-8" placeholder="Name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Max Voltage</lable> <br />
                <input asp-for="DesignValue" type="number" min="0" class="form-control col-sm-8" placeholder="Max Voltage" required />
                <span asp-validation-for="DesignValue" class="text-danger"></span>
            </div>
          

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Code"></label>

               
                <select asp-for="Code" class="form-field-select-1 form-control col-sm-8">
                    @{
                        var com = "" + '1';

                        for (int i = 0; i < Enumerable.Count(ViewBag.primaries); i++)
                        {
                            int count = 0;
                            for (int k = 0; k<Enumerable.Count(ViewBag.primaries); k++)
                            {
                                if (!(com.Equals(ViewBag.primaries[k].Code)))
                                {
                                    count++;
                                }
                            }

                            @*if (!(com.Equals(ViewBag.primaries[i].Code)) )
                {
                        <option value="@com"> @com </option>
                        i--;
                }*@
                            if (count == Enumerable.Count(ViewBag.primaries))
                            {
                                <option value="@com"> @com </option>
                                i--;
                            }


                            var n = int.Parse(com);
                            n = n + 2;
                            com = n.ToString();

                        }
                        for (int i = int.Parse(com); i <= (8 + int.Parse(com)); i = i + 2)
                        {

                            <option value="@i"> @i </option>
                        }

                    }

                </select>


        

            </div>
        

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Max Current</lable> <br />
                <input asp-for="MaxCurrent" type="number" min="0" class="form-control col-sm-8" placeholder="Max Current" required />
                <span asp-validation-for="MaxCurrent" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <lable class="col-sm-4 col-form-label">Phase Type</lable> <br />
                <select asp-for="Type" class="form-control col-sm-8" required onchange="topo(this.value)">
                    <option selected disabled value="">Type</option>
                    <option value="1"> Single Phase</option>
                    <option value="3"> Three Phase</option>
                </select>
            </div>

            <div align="right" class="form-group row" id="topolgy" style="display:none">
                <lable class="col-sm-4 col-form-label"></lable>
                <select asp-for="Topology" id="topologyslct" class="form-control col-sm-8">
                    <option selected disabled value="">Topology</option>
                    <option value="Star"> Star </option>
                    <option value="Delta"> Delta</option>
                </select>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info btn-md" />
                <a asp-action="Index" class="btn btn-info btn-md"> Cancel</a>

            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

